.layout-max {
  width: 960px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: .5rem;
}

.logo__wrapper {
  width: 100%;
  padding: 2rem 0;
}

.pricing_column {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 1rem 0;
  padding: 2rem;
  border: 1px solid;
}

.column__task {
  width: 400px;
}

.column__project {
  width: 100px;
}

.header-small {
  width: 100%;
  margin: auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-small__left {
  font-size: 24px;
  font-weight: bold;
}
